<div class="container">
  <div class="d-grid-2">
    <div class="div-col-2">
      <label class="lblcategory">Category</label>
      <select class="selectCategory" [(ngModel)]="selectedCategory" (change)="applyFilter()">
        <option value="-Select-" selected disabled>-Select-</option>
        <option *ngFor="let category of categorylist()" [ngValue]="category">{{category}}</option>        
      </select>
    </div>
    <div class="div-col-2">
      <input class="txtSearch" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
      <i class="fa fa-search searchIcon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="d-grid-3">
    <div class="card" *ngFor="let item of productsData()| filter:searchText">
      <figure class="effect-hover">
        <img [src]="item.image" class="img_product" />
        <figcaption>
          <h4>
            {{item.title}}
          </h4>
          <div class="div-item-price">₹{{item.price}}</div>
          <p>{{item.description}}</p>

          <div class="div-addCart">
            <button class="btn-addCart" (click)="addToCart(item)">Add to Cart</button>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
